.error {
    border: red 1px solid;
  }
  
  
  /* Add a color to the cancel button */
  .cancelbtn {
    float: right;
    width: 40%;
  
    right: 40px;
    color: green;
  }
  
  .messageSuc {
    color: green;
  }
  
  .savebtn {
    float: left;
    width: 40%;
  
    left: 130px;
    color: green;
  }
  
  .tablebtn {
    width: 35%;
    position: absolute;
    left: 430px;
  }